.border-regular {
  border: 1px solid black;
  padding: 20px;
}

body {
  border: 1px solid black;
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 1vh auto;
  font-family: "Roboto", sans-serif;
}

.all-Content {
  background-color: #e6e6e6;
}

h1 {
  margin: 0;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "logo searchbar checkout" "menu menu menu";
}

.logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  color: #838383;
  text-align: center;
}

.searchbar {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: searchbar;
}

.searchbar input {
  width: 100%;
  height: 100%;
}

.checkout {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: checkout;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2em;
  position: relative;
}

.add-Popup {
  position: absolute;
  background-color: white;
  width: 25vw;
  right: 0;
  top: 14vh;
  padding: 2vh 1vw;
  border: 1px solid black;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 2vh;
  -webkit-column-gap: 1vw;
          column-gap: 1vw;
      grid-template-areas: "iT iT" "ca ca" "cl ch";
}

.add-Popup p {
  display: inline-block;
  font-size: 0.5em;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: iT;
}

.add-Popup span {
  font-weight: bolder;
}

#addCart {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: ca;
}

#addClose {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: cl;
}

#addCheckout {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: ch;
}

.button-fat {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.checkout > * {
  margin: 0 1vw;
}

.menu {
  padding: 0;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: menu;
}

.menu ul {
  padding: 0;
  margin: auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu li {
  margin: 0;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "left-side main-content right-side";
}

.main-content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.card-Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  row-gap: 25px;
}

.card {
  width: 150px;
  height: auto;
}

.card > * {
  padding: 0;
  margin: 0.3vh 0;
}

.card-image {
  width: 100%;
  height: 200px;
  background-color: #303030;
}

.card button {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */