.border-regular {
  border: 1px solid black;
  padding: 20px;
}

body {
  border: 1px solid black;
  width: 90%;
  height: fit-content;
  margin: 1vh auto;
  font-family: "Roboto", sans-serif;
}

.all-Content {
  background-color: rgb(230, 230, 230);
}

h1 {
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "logo searchbar checkout"
    "menu menu menu";
}

.logo {
  grid-area: logo;
  color: rgb(131, 131, 131);
  text-align: center;
}

.searchbar {
  grid-area: searchbar;
}

.searchbar input {
  width: 100%;
  height: 100%;
}

.checkout {
  grid-area: checkout;
  display: flex;
  font-size: 2em;
  position: relative;
}

.cart-Icon {
  position: relative;
}

.cart-Icon-Amount {
  position: absolute;
  font-size: 0.5em;
  padding: 0 5px 0 5px;
  border: 2px solid rgb(66, 66, 66);
  border-radius: 500px;
  background-color: rgb(255, 255, 255);
  top: 18px;
  left: 15px;
}

.cart-Icon-Amount > * {
  padding: 0%;
  margin: 0%;
}

.button-fat {
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.cart-Popup,
.add-Popup {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 25vw;
  right: 0;
  top: 75px;
  padding: 2vh 1vw;
  border: 1px solid black;
  border-radius: 5px;
}

.cart-Popup {
  display: flex;
  flex-direction: column;
}

.cart-Popup h6 {
  margin: 5vh 0 0 0;
  font-weight: lighter;
}

.cart-Card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "img ttl ttl ttl"
    "img . . ."
    "img amt . sum";
  align-items: flex-end;
  margin: 0;
}

.cart-Card-Image {
  grid-area: img;
  width: 6vw;
  height: 125px;
  background-color: rgb(117, 117, 117);
}

.cart-Card h5 {
  font-size: 0.6em;
  grid-area: ttl;
}

.price-And-Amount {
  display: flex;
  grid-area: amt;
  justify-content: space-evenly;
  margin-left: 0;
}

.price-And-Amount input {
  align-self: center;
}
.cart-Card-Sum {
  grid-area: sum;
  text-align: end;
}

.cart-Card input {
  width: 20px;
  height: 20px;
}

.cart-Card p {
  font-size: 0.5em;
}

.cart-Sum {
  font-size: 0.5em;
  margin: 0;
}

.cart-Sum-Amount {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.final-Sum {
  font-weight: bolder;
}

.cart-Sum-Freight {
  margin: 0;
  font-size: 0.8em;
}

.cart-Buttons {
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
}

.cart-Buttons button {
  width: 100%;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.add-Popup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 2vh;
  column-gap: 1vw;
  grid-template-areas:
    "iT iT"
    "ca ca"
    "cl ch";
  display: none;
}

.add-Popup p {
  display: inline-block;
  font-size: 0.5em;
  grid-area: iT;
}

.add-Popup span {
  font-weight: bolder;
}

#addCart {
  grid-area: ca;
}

#addClose {
  grid-area: cl;
}

#addCheckout {
  grid-area: ch;
}

.checkout > * {
  margin: 0 1vw;
}

.menu {
  padding: 0;
  grid-area: menu;
}

.menu ul {
  padding: 0;
  margin: auto;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.menu li {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "left-side main-content right-side";
}

.left-side {
}

.main-content {
  height: fit-content;
}

.card-Container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 25px;
}

.card {
  width: 150px;
  height: auto;
}

.card > * {
  padding: 0;
  margin: 0.3vh 0;
}

.card-image {
  width: 100%;
  height: 200px;
  background-color: rgb(48, 48, 48);
}

.card button {
  width: 100%;
}
