.border-regular {
  border: 1px solid black;
  padding: 20px;
}

body {
  border: 1px solid black;
  width: 90%;
  height: fit-content;
  margin: 1vh auto;
  font-family: "Roboto", sans-serif;
}

h1 {
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "logo searchbar checkout"
    "menu menu menu";
}

.logo {
  grid-area: logo;
  color: rgb(131, 131, 131);
  text-align: center;
}

.searchbar {
  grid-area: searchbar;
}

.searchbar input {
  width: 100%;
  height: 100%;
}

.checkout {
  grid-area: checkout;
  display: flex;
  font-size: 2em;
}

.checkout > * {
  margin: 0 1vw;
}

.menu {
  padding: 0;
  grid-area: menu;
}

.menu ul {
  padding: 0;
  margin: auto;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.menu li {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "left-side main-content right-side";
}
